/***CSS COLORS
#000000 -Black
#FFFFFF-White
#808080 Gray
#666666 - Darker gray 
#D0D0D0 – light gray 
#66b2b2 - Brighter teal 
#008080 -teal
#006666 -Darker teal
#004c4c -Darkest shade of teal
 
#F1F1F1 - Beige 
#F2F2F2 - Darker beige
*****************************/

/******************Top-bar************************/

.top-bar {
  background-image: url('background_texture1.png');
  background-repeat: repeat;
  color: white;
  text-align: center;
  padding: 2em;
  line-height: 1em;
  top: 0;
}


/******************MAIN NAVIGATION************************/

nav {   /****This is what makes the links go to the right ****/
  padding: 2em;
  display: flex;
  align-items: center;
  background: white;
  box-shadow: 0 0 10px gray;
  margin-bottom: 75px;
}

nav a {  /****Adjusts links padding and margin and needs to be there****/
  display: flex;
  margin: 5px;
  padding: 10px;
  color: #808080;
  font-weight: bold;
  font-size: 18px;
}

a {
  text-decoration: none; /****Removed line from links****/
}


.menu {  /****Makes links align horizontal takes off line and bullet****/
  display: flex;
  text-decoration: none;
  list-style: none;
}


.logo {  /***This together with nav is what makes logo go to left and links go to right*****/
  flex: 1;
  width: 250px;
}

nav a:hover {
  color: black;
}

nav a:active {   /*THIS IS NOT WORKING WILL NEED TO FIX IT AT SOME POINT*/
  color: black;
  text-decoration: underline;
}


/********************Dropdown Navigation************************/


.menu {
  display: flex;
}

nav li {
  position: relative;
  width: 100%;
  text-align: center;
}

nav li:hover .dropdown > li {
  display: block;
  top: 0;
  background: white;
}

.dropdown li {
  display: none;
  position: relative;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown li:hover {
  display: block;
  background: white;
  color: black;
}



/**************************************FOOTER****************************/
footer {
  background-color: light gray;
  color: black;
  padding: 10px;
  text-align: right;
  bottom: 0;
}
footer {
  width: 100%;
  height: 25px;
  position: fixed;
}
