

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #F8F5F5;
  color: #666666;
  font-size: 16px;
  width: 100vw;
  font-family: 'Lora', sans-serif;
}

p, h1, h2, h3, h4, blockquote, .about_img {
  margin: 0 250px;
  padding: 10px;
  border: none;
}

/**Index/Home Page**/
#H1 {
  text-align: left;
}

.home_main {
  width: 90%;
  margin: 0 auto;
  padding: 0 2em;
}
#home_header {
  text-align: center;
  padding: 1em;
}


/**About Page**/

.about_img {
 float: center;
 width: auto;
 height: auto;
 max-width: 400px;
 min-width: 200px;
 padding-top: 1%;
margin-top: 1rem;
margin-bottom: 1em;
}

.resume_button {
  background-color: #808080;
  color: white;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  border: 5px outset gray;
  font-weight: 400px;
}



/**Projects Page**/


/**Reflection Page**/
.reflection_main {
  width: 90%;
  max-width: 1024;
  margin: 0 auto;
  padding: 0 6em;
}

#header1 {
  text-align: center;
  }

  h4 {
    font-size: 125%;
  }

  .para1::first-letter  {
  font-size: 180%;
  color: #96714e;
}

.indent {
  text-indent: 2.5%;
}

/**Contact Page**/
