

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #F8F5F5;
  color: #666666;
  font-size: 14px;
  line-height: 1.5em;
  font-family: 'Lora', sans-serif;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.125em;
}

p {
  font-size: 1em;
}

/**Index/Home Page**/
#H1 {
  text-align: center;
}

.home_main {
 
  margin: 0 auto;
  padding: 0 1em;
}
#home_header {
  text-align: center;
  padding: 2em;
}

.greetings {
      font-size: 175%;
      color: #e5c100;
    }

/**About Page**/

.about-main {
  margin: 0 auto;
  padding: 0 10%;
 
}

.about_img {
 float: center;
 width: auto;
 height: auto;
 max-width: 400px;
 min-width: 200px;
 padding-top: 1%;
margin-top: 1rem;
margin-bottom: 1em;
}

.resume_button {
  background-color: #808080;
  color: white;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  border: 5px outset gray;
  font-weight: 400px;
}

.about_para {
    float: left;
    width: 70%;
    height: auto;
  }



/**Projects Page**/


/**Reflection Page**/
.reflection_main {
  margin: 0 auto;
  padding: 0 10%;

}

#Header1 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  }

  #header1 h1 {
    font-size: 130%;
  }

  h4 {
    font-size: 100%;
  }

  .para1::first-letter  {
  font-size: 175%;
  color: #e5c100;
}

.indent {
  text-indent: 2.5%;
}

/**Contact Page**/


/*Footer*/

footer {
  width: 100%;
  height: auto;
  background-image: url(img/'light-gray-concrete-wall.jpg');
  background-repeat: repeat;
  color: white;
  text-align: center;
  padding: 2rem 3rem;
  top: 0;

}

.phone-icon, 
.email-icon {
  width: 30px;
  height: auto;
  padding-right: 5px;
  vertical-align: middle;
  margin-right: 10px;
}

/**Media Queries**/
@media only screen and (min-width: 250px) {
 
  #header1 {
  font-size: 1em;
}

.about-main {
  margin: 0;
  padding: 0;
}
  
  
  .about_header {
   text-align:center;
   width: 100%;
  }
  
  .about_img {
    width: 100%;
    margin: auto;
    margin-bottom: 5%;
  }
 video {
    width: 100%;
  }

  .about_para {
    margin: 0 auto;
    width: 100%;
    padding: 5px;
  }

  .about_button {
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    margin-bottom: 20%;
  }
}


/**Reflection & Home Page**/

@media only screen and (min-width: 450px) {
  

  .top-bar p, h3 {
    display: none;
  
  }

  .about_para h1 {
    font-size: 175%;
   }

 

   #header1 h1 {
    font-size: 175%;
  }

  h4 {
    font-size: 110%;
  }
  
}

@media only screen and (min-width: 800px ) {
  .about_para h1 {
    font-size: 200%;
   }

   .about_header {
    font-size: 160%;
   }
  

   #header1 h1 {
    font-size: 200%;
  }

  h4 {
    font-size: 130%;
  }
  #home-header {
    font-size: 160%;
    }
    .greetings {
      font-size: 175%;
      color: #e5c100;
    }
  
    .top-bar p, h3 { 
      display: block;
    }
}
